<div class="mt-2 mb-1">
  <% if Sms.configured?(submitter.account) && submitter.phone.present? %>
    <%= form_with url: submitter_send_sms_index_path(submitter), method: :post, local: true, html: { class: 'w-full' } do |f| %>
      <%= f.button submitter.sent_at? ? t('re_send_sms') : t('send_sms'), class: 'btn btn-sm btn-primary w-full' %>
    <% end %>
  <% elsif submitter.phone.blank? %>
    <div class="tooltip w-full" data-tip="<%= t('phone_number_is_required') %>">
      <button class="btn btn-sm btn-primary btn-disabled text-gray-400 w-full">
        <%= submitter.sent_at? ? t('re_send_sms') : t('send_sms') %>
      </button>
    </div>
  <% else %>
    <div class="tooltip w-full" data-tip="<%= t('sms_is_not_configured') %>">
      <button class="btn btn-sm btn-primary btn-disabled text-gray-400 w-full">
        <%= submitter.sent_at? ? t('re_send_sms') : t('send_sms') %>
      </button>
    </div>
  <% end %>
</div>
